@{
    ViewData["Title"] = "Home Page";
}


@*<div class="container container-fluid home-page">
    <div class="home-content text-center ">
        <h1>SMARTDRIVING</h1>
        <h3>BOOKING</h3>
    </div>
</div>*@


<section class="home-page">
    <div class="container container-fluid">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="header-content">
                    <h1>SMARTDRIVING</h1>
                    <h3>BOOKING</h3>
                </div>
            </div>
        </div>
    </div>
</section>

